{% extends "base.html" %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome | ようこそ</h1>
        <p class="lead">Hi, I am Syafiq. </p>
        <p class="lead">In this website, I share my journey in technology, programming, and personal growth. You’ll find tutorials, articles, and resources covering topics like web development, Python, Django, and more.</p>
        <p class="lead">My goal is to help beginners and enthusiasts learn new skills, solve problems, and stay motivated in their learning process.</p>
        <p class="lead">I also post updates on my projects, insights from my experiences, and tips for improving productivity.</p>
        <p class="lead">Whether you’re just starting out or looking to deepen your knowledge, I hope you find something valuable here. Thank you for visiting, and feel free to explore!</p>
    </main>
</div>
{% endblock %}