asgiref==3.9.1
comtypes==1.4.11
dj-database-url==3.0.1
Django==5.2.4
django-storages==1.14.6
dotenv==0.9.9
gitdb==4.0.12
GitPython==3.1.44
python-dotenv==1.1.1
setuptools==57.0.0
smmap==5.0.2
sqlparse==0.5.3
wheel==0.36.2
