<!-- cortexdb_notes.html -->
{% extends 'cortexdb_base.html' %}

{% block content %}
{% include "_cortexdb_navbar.html" %}
<div class="jumbotron p-5 mb-4 bg-light rounded-3">
    <h1>Notes List</h1>
    <div class="container">
        <ul class="list-group list-group-flush">
            {% if notes %}
            {% for note in notes %}
                    <div class="card mb-3">
                        <h5 class="card-header">{{ note.title }}</h5>
                        <div class="card-body">
                            <p class="card-text">{{ note.content }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last edited: {{ note.last_edited }}</small>
                        </div>
                    </div>
            {% empty %}
                <li>No notes available.</li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
