{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>List of all Notes</h1>
    </div>
    <div class="container">
        {% include '_cortexdb_navbar.html' %}
    </div>
</div>
<div class="container">
  {% for row in note_rows %}
    <div class="row">
      {% for note in row %}
        {% if note %}
        <div class="col-md-4">
          <div class="card mb-3">
            <h5 class="card-header">{{ note.title }}</h5>
            <div class="card-body">
              <p class="card-text">{{ note.content }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last edited: {{ note.last_edited }}</small>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock %}
