{% extends 'cortexdb_main.html' %}

{% block cortexdb_content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">{{ note.title }}</h2>
            </div>
            <div class="card-body">
                <p class="card-text">{{ note.content }}</p>
                <hr>
                <small class="text-muted">Last edited: {{ note.updated_at }}</small>
                <!-- to insert connections to other notes -->
            </div>
            <div class="card-footer">
                <a href="{% url 'cortexdb:notes-detail' note.note_id %}" class="btn btn-sm btn-outline-primary">View</a>
                <a href="{% url 'cortexdb:notes-update' note.note_id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
            </div>
        </div>
    </div>
{% endblock %}