<!-- TOKEN: 52aead89c75ce818d040a27b2b55b6c1e5a455a8af4d5bcbabb556ea412d8797 -->
{% extends "progress_base.html" %}

{% block title %}Progress Log Form{% endblock title %}

{% block progress_header %}{{ log.title }}{% endblock progress_header %}

{% block progress_content %}
    <section class="card">
        <div class="card-header">
            <h3>Progress Log Form</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'progress:progress-log-list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </section>
{% endblock %}

{% block progress_footer %}
    <a href="{% url 'progress:progress-log-list' %}" class="btn btn-secondary">Back to Log List</a>
{% endblock %}