<!-- this is navbar - coming soon -->
 {% load static %}

<header class="container-fluid">

	<!-- navbar that are fixed at the top -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    	<div class="container">
            
        	<!-- Navbar Brand -->
        	<a class="navbar-brand" href="{% url 'home:home' %}"><i class="fa-solid fa-house"></i> Home</a>
        	
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            	<span class="navbar-toggler-icon"></span>
        	</button>
        
        	<!-- Navbar Text -->
        	<span class="navbar-text">
            	{% block navbar_text %}
            		<!-- insert child navbar text -->
                	<span class="text-white text-center">{{ title }}</span>
            	{% endblock %}
        	</span>
        
        	<!-- Navbar Links to be added here -->
        	<div class="collapse navbar-collapse" id="navbarNav">
            
            	<!-- main navigation links -->
            	<div class="navbar-nav ml-auto">
                	<a class="nav-link" href="{% url 'cortexdb:index' %}"><i class="fa-solid fa-database"></i> CortexDB</a>
            	</div>
            
            	<div class="navbar-nav ml-auto">
                	<a class="nav-link" aria-current="page" href="{% url 'progress:progress-main' %}"><i class="fa-solid fa-blog"></i> progress log</a>
            	</div>
            
        	</div>
    	</div>
	</nav>
</main>