/* CSS HEX */
--rose-quartz: #c1a5a9ff;
--columbia-blue: #d3e9f7ff;
--paynes-gray: #3f5865ff;
--dark-purple: #1d021dff;
--arylide-yellow: #f2d96dff;

/* CSS HSL */
--rose-quartz: hsla(351, 18%, 70%, 1);
--columbia-blue: hsla(203, 69%, 90%, 1);
--paynes-gray: hsla(201, 23%, 32%, 1);
--dark-purple: hsla(300, 87%, 6%, 1);
--arylide-yellow: hsla(49, 84%, 69%, 1);

/* SCSS HEX */
$rose-quartz: #c1a5a9ff;
$columbia-blue: #d3e9f7ff;
$paynes-gray: #3f5865ff;
$dark-purple: #1d021dff;
$arylide-yellow: #f2d96dff;

/* SCSS HSL */
$rose-quartz: hsla(351, 18%, 70%, 1);
$columbia-blue: hsla(203, 69%, 90%, 1);
$paynes-gray: hsla(201, 23%, 32%, 1);
$dark-purple: hsla(300, 87%, 6%, 1);
$arylide-yellow: hsla(49, 84%, 69%, 1);

/* SCSS RGB */
$rose-quartz: rgba(193, 165, 169, 1);
$columbia-blue: rgba(211, 233, 247, 1);
$paynes-gray: rgba(63, 88, 101, 1);
$dark-purple: rgba(29, 2, 29, 1);
$arylide-yellow: rgba(242, 217, 109, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c1a5a9ff, #d3e9f7ff, #3f5865ff, #1d021dff, #f2d96dff);
$gradient-right: linear-gradient(90deg, #c1a5a9ff, #d3e9f7ff, #3f5865ff, #1d021dff, #f2d96dff);
$gradient-bottom: linear-gradient(180deg, #c1a5a9ff, #d3e9f7ff, #3f5865ff, #1d021dff, #f2d96dff);
$gradient-left: linear-gradient(270deg, #c1a5a9ff, #d3e9f7ff, #3f5865ff, #1d021dff, #f2d96dff);
$gradient-top-right: linear-gradient(45deg, #c1a5a9ff, #d3e9f7ff, #3f5865ff, #1d021dff, #f2d96dff);
$gradient-bottom-right: linear-gradient(135deg, #c1a5a9ff, #d3e9f7ff, #3f5865ff, #1d021dff, #f2d96dff);
$gradient-top-left: linear-gradient(225deg, #c1a5a9ff, #d3e9f7ff, #3f5865ff, #1d021dff, #f2d96dff);
$gradient-bottom-left: linear-gradient(315deg, #c1a5a9ff, #d3e9f7ff, #3f5865ff, #1d021dff, #f2d96dff);
$gradient-radial: radial-gradient(#c1a5a9ff, #d3e9f7ff, #3f5865ff, #1d021dff, #f2d96dff);